In [1]:
import numpy as np
from tqdm import tqdm
import math

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
df  = pd.read_csv('Boston.csv')

In [5]:
from sklearn import datasets

iris = datasets.load_iris()

In [6]:
df= pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [7]:
df['target'] = pd.to_numeric(df['target'],downcast='integer')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
for x in range(0,len(df['target'])):
    if df.iloc[x,4] == 2:
        df.iloc[x,4] = 1
df['target'].value_counts()

1    100
0     50
Name: target, dtype: int64

In [9]:
def sigmoid(x,w):
    z = np.dot(x,w)
    return 1/(1+np.exp(-z))

def cost(y,h):
    return (-y*np.log(h) - (1-y)*np.log(1-h)).mean()

def derivative(x,y,h,m):
    return np.dot(x.T,(h-y))/m

def logistic_r(X,Y,a,epoch):
        
    theta0 = np.ones((X.shape[0], 1))
    X = np.concatenate((theta0,X),axis=1)
    
    xr,xc = X.shape
    m = xc 
    w = np.zeros(xc)
        
        
    for i in tqdm(range(0,epoch)):
        
        h = sigmoid(X,w)    
        dj = derivative(X,Y,h,m)
        
        w = w - a*dj
        cos.append(cost(Y,h))
    result = sigmoid(X,w)
    return result

In [10]:
X = df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']].copy()
Y = df['target'].copy()
cos = []
yyy =  logistic_r(X,Y,0.1,10)

 10%|████▎                                      | 1/10 [00:00<00:01,  7.19it/s]C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

100%|██████████████████████████████████████████| 10/10 [00:00<00:00, 57.47it/s]

In [11]:
data = pd.DataFrame(np.around(yyy , decimals=6)).join(Y)
data['pred'] = data[0].apply(lambda x: 0 if x<=0.5 else 1)

data.loc[data['pred']==data['target']].shape[0] / data.shape[0] * 100

100.0